body {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #f72210;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.top-nav {
  align-items: flex-end;
  background-color: #f72210;
  display: flex;
  flex-direction: row;
  height: 95px;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 20px 10px 15px;
  width: 100%;
  z-index: 1;
}

.date {
  color: #fff;
  font: 16px/34px "Roboto Condensed", sans-serif;
  margin-right: 20px;
}

.top-logo {
  cursor: pointer;
  width: 40%;
}

.top-logo svg {
  fill: #fff;
}

.sign-in span {
  color: #fff;
  cursor: pointer;
  font: 18px/34px "Roboto Condensed", sans-serif;
  margin-right: 20px;
}

.sign-in button {
  border: 0;
  background: #fff;
  color: #f72210;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  padding: 5px 5px;
  text-align: center;
}

.sign-in i {
  color: #f72210;
  font-size: 17px;
}

.bottom-nav {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: row;
  width: 100%;
}

ul {
  padding: 10px;
}

.bottom-nav ul {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 24px;
  margin: 0;
  width: 90%;
}

.social-icons li {
  font-size: 25px;
  line-height: 20px;
}

.bottom-nav ul li {
  border-right: 1px solid #d9d9d9;
  display: inline-flex;
  justify-content: center;
  padding: 0.3rem;
}

.bottom-nav ul li:last-child {
  border-right: 0;
}

.search-bar {
  width: 10%;
}

.search-bar input {
  border: 0;
  font-size: 15px;
  width: 50px;
}

.search-bar i {
  font-size: 20px;
}

.top-section {
  margin-top: 5%;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.featured h5,
.top-stories h5,
.opinion h5 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px/16px "Roboto Condensed", sans-serif;
}

.position-absolute a {
  color: #e9212e;
  font-weight: bolder;
  font-size: 17px;
  padding: 8px 15px;
  text-transform: uppercase;
}

#sept-link a span {
  background-image: url(https://g.newsweek.com/www/images/icon-arrow-right-black.svg);
}

.mag-title a {
  color: #f72210;
  font-size: 18px;
  font-weight: bold;
}

.sub-hd-txt a,
.sub-hd a,
.opinion h6 a {
  font-size: 17px;
  line-height: 21px;
}

.travel h5 a {
  color: #272727;
  font: 20px/22px "Lora", serif;
  padding-top: 10px;
}

.travel span a {
  background: #c2d4d7;
  color: #272727;
  padding: 4px 10px;
  margin: 0 6px;
}

.mag-img p a {
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
}

.bottom-nav ul li a {
  color: #000;
  text-align: center;
}

.categ-sec header h6 a,
.sub-news h6 {
  color: #f72210;
  padding-top: 25px;
  font-size: 22px;
  line-height: 22px;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.mag-img p a:hover {
  color: black;
  text-decoration: underline #f72210;
}

.travel,
.subcribe {
  background-color: #f4f5f7;
  margin-bottom: 20px;
}

.travel h5 {
  padding-top: 10px;
}

.travel span a:hover {
  background-color: #272727;
  color: #c2d4d7;
}

.position-absolute a:hover,
.opinion a:hover,
.sub-hd-txt a:hover,
.mag-title a:hover,
.bottom-nav ul li a:hover {
  color: #f72210;
  text-decoration: none;
}

.travel h5 a:hover,
.travel span a:hover,
.categ-sec header h6 a:hover {
  text-decoration: none;
}

#sept-link a {
  display: block;
  background-color: #f4f5f6;
  color: black;
  text-align: center;
  margin-bottom: 0;
  font: bold 18px/18px "Roboto Condensed", sans-serif;
  padding: 10px 10px 10px 12px;
}

.sub-hd-pointer {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}

.update {
  cursor: pointer;
}

.signup-box {
  height: 140px;
}

.btn-signup {
  background-color: #666;
  border: 0;
  color: #fff;
  font: bold 18px/18px "Roboto Condensed", sans-serif;
  margin: 15px;
  padding: 10px 10px 10px 12px;
}

.btn-signup:hover {
  background-color: #999;
}

.signup-text,
.header-sec h6 {
  font: bold 19px/19px "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  padding-top: 10px;
}

.mag .svg,
.editor-sec .svg,
.feature-sec .svg {
  background: url("https://g.newsweek.com/www/images/logo-n1.svg") center/contain no-repeat #f72210;
  height: 28px;
  margin-right: 10px;
  margin-top: 5px;
  width: 29px;
}

.mag .mag-cat {
  background: #f72210;
  border: 1px solid #f72210;
  color: #fff;
}

.mag-info {
  margin-bottom: 10px;
}

#big-shot a {
  color: #fff;
}

.feature-sec header h6:hover,
.social-icons i:hover {
  cursor: pointer;
}

.feature-slide figure div {
  background: url('../icons/icon-slideshows.png') 0 0/contain no-repeat;
  height: 52px;
  text-align: center;
  width: 70px;
}

.slide-num {
  color: #e9212e;
  font-weight: bold;
  font-size: 20px;
  line-height: 58px;
  text-indent: 5px;
}

.sub-news button {
  background-color: #f72210;
  border: 0;
  color: white;
  font: bold 18px/18px "Roboto Condensed", sans-serif;
  padding: 10px 10px 10px 12px;
}

.sub-news button:hover {
  background-color: #de1f0e;
}

.sub-img-container {
  position: relative;
  width: 300px;
}

.sub-img-container img {
  height: 227px;
  width: 170px;
}

#aug {
  left: 20px;
  position: absolute;
  top: 13px;
}

#sept {
  left: 50px;
  position: absolute;
  top: 13px;
}

.sub-nw {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.nw-letter {
  height: 85%;
}

.arrow {
  background: url("https://g.newsweek.com/www/images/icon-arrow-right.svg") center/contain no-repeat;
  display: inline-block;
  height: 14px;
  margin-left: 10px;
  width: 8px;
}

.brand-name {
  display: block;
  cursor: pointer;
  fill: #f72210;
  height: 36px;
  margin-bottom: 12px;
  max-width: 236px;
  padding-top: 10px;
}

.copyright {
  align-items: flex-end;
  color: #666;
  display: flex;
  font-size: 12px;
  margin-bottom: 0.4rem;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-instagram:hover {
  color: #405de6;
}

.fa-tumblr:hover {
  color: #35465c;
}

.fa-linkedin-in:hover {
  color: #0077b5;
}

footer,
#footer-links,
#langs-link {
  margin: 15px 0;
}

#footer-links a,
#langs-link a {
  color: #666;
  font-size: 14px;
  line-height: 15px;
  padding-right: 10px;
}

#sept-link a:hover {
  background-color: #dbdcdd;
  text-decoration: none;
}

#langs-link a:hover,
#footer-links a:hover {
  color: #000;
  text-decoration: none;
}

@media (max-width: 768px) {
  #aug {
    left: 30%;
  }

  #sept {
    left: 35%;
  }

  .text-content {
    margin-top: 200px;
    text-align: center;
  }

  .nw-letter div figure img {
    height: 120px;
  }
}
