body {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.sub-hd-txt a,
.opinion h6 a {
  font-size: 17px;
  line-height: 21px;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: black;
  text-decoration: underline #f72210;
}

.sub-hd-pointer {
  cursor: pointer;
}

section h6 {
  color: #f72210;
  font-size: 22px;
  line-height: 22px;
}

.opinion a:hover,
.sub-hd-txt a:hover {
  color: #f72210;
  text-decoration: none;
}

.feature-slide figure div#slide-icon {
  background: url('../icons/icon-slideshows.png') 0 0/contain no-repeat;
  height: 52px;
  text-align: center;
  width: 70px;
}

.slide-num {
  color: #e9212e;
  font-weight: bold;
  font-size: 20px;
  line-height: 58px;
  text-indent: 5px;
}

/* .sub-news {} */

.sub-img-container {
  display: flex;
  position: relative;
}

.sub-img-container img {
  height: 227px;
  width: 170px;
}

/* #aug {} */

#sept {
  left: 20%;
  position: absolute;
  top: 13px;
}
